<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                <h2>&nbsp;Chức năng chính</h2>
            </li>
            <li>
                <a href="/Admin/QuanLySanPham/Product"><i class="fa fa-edit fa-fw"></i> Quản lý sản phẩm</a>
            </li>
            <li>
                <a href="/Admin/QuanLyDanhMuc/Category"><i class="fa fa-edit fa-fw"></i> Quản lý danh mục</a>
            </li>
            <li>
                <a href="/Admin/QuanLyTheLoai/List"><i class="fa fa-edit fa-fw"></i> Quản lý thể loại</a>
            </li>
            <li>
                <a href="/Admin/QuanLyKhachHang/ListKhachHang"><i class="fa fa-edit fa-fw"></i> Quản lý khách hàng</a>
            </li>
            <li>
                <a href="/Admin/QuanLyHoaDon/ListHoaDon"><i class="fa fa-edit fa-fw"></i> Quản lý hóa đơn mua hàng</a>
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
